.form-group
  label 管理员邮箱
  input.form-control(type='text', ng-model='admin.email', required)
.form-group
  label 管理员昵称
  input.form-control(type='text', ng-model='admin.name')
.form-group
  label.radio-inline
    input(type='radio', name='admin_type', ng-model='admin.isAdmin', ng-checked='admin.isAdmin', ng-change='setSuperAdmin(false)')
    | 餐厅管理员
  label.radio-inline
    input(type='radio', name='admin_type', ng-model='admin.isAdmin', ng-checked='!admin.isAdmin', ng-change='setSuperAdmin(true)')
    | 超级管理员
.form-group(ng-show='admin.isAdmin')
  select.form-control(ng-options='restaurant._id as restaurant.name for restaurant in wrapRestaurants.restaurants', ng-model='selRestaurant', ng-change='changeRestaurant()')
    option(value='') 选择管理餐厅