.form-group
  label 餐厅名称
  input.form-control(type='text', ng-model='restaurant.name', required)
.form-group
  label 餐厅描述
  textarea.form-control(rows='3', ng-model='restaurant.des')
.form-group
  label 餐厅地址
  input.form-control(type='text', ng-model='restaurant.location')
.form-group
  label 餐厅电话
  input.form-control(type='text', ng-model='restaurant.tel')
.form-group
  label 真实经纬度
  .row
    .col-md-3
      input.form-control(type='text', ng-model='restaurant.lng', placeholder='经度(lng)')
    .col-md-3
      input.form-control(type='text', ng-model='restaurant.lat', placeholder='纬度(lat)')
