.row
  .col-md-2(ng-if='user.wx_img != ""')
    img.avatar-min(ng-src='{{user.wx_img}}')
  .col-md-10
    .row.super-content-row
      .col-md-3.control-label 昵称：
      .col-md-9 {{user.wx_name}}
    .row.super-content-row
      .col-md-3.control-label 用户级别：
      .col-md-9
        .form-inline
          - var groups = [{key: 3, name: '达人'},{key: 2, name: '资深'},{key: 1, name: '普通'}]
          - each group in groups
            .form-group
              label
                input(type='radio', name='group-{{user._id}}', value=group.key, ng-model='user.group', ng-change='changeGroup($index)')
                | &nbsp;#{group.name}
              | &nbsp;&nbsp;
    .row.super-content-row
      .col-md-3.control-label app_id：
      .col-md-9 {{user.wx_app_id}}
    .row.super-content-row(ng-if='user.default_restaurant')
      .col-md-3.control-label 用户来源：
      .col-md-9 {{user.default_restaurant.name}}