.row
  .col-md-2(ng-if='user.wx_img != ""')
    img.avatar-min(ng-src='{{user.wx_img}}')
  .col-md-10
    p 昵称：{{user.wx_name}}
    p app_id：{{user.wx_app_id}}
    p(ng-if='user.default_restaurant') 来源：{{user.default_restaurant.name}}