include include/csrf
p.clearfix
  a.btn.btn.btn-success.pull-left(ng-click='sendCoupons()') 发送选中的优惠券
  a.btn.btn.btn-primary.pull-right(ng-href='#/toAddCoupon') 创建优惠券
p: ul.nav.nav-tabs
  - var tabs = [[0, '待发送'], [1, '已发送']]
  - each tab in tabs
    li(ng-class='{ "active": "#{tab[0]}"==selTabIndex }', role='presentation')
      a(ng-click='selTab("#{tab[0]}")', href='javascript:{}') #{tab[1]}
.table-responsive
  table.table.table-striped
    thead
      tr
        th.text-center 选中
        th.text-center 优惠券详情
        th.text-center 操作
    tbody
      tr(ng-repeat='coupon in wrapData.coupons')
        td.col-md-1.text-center
          input(type='checkbox', name='selectedCoupon', ng-disabled='selTabIndex == 1',
            ng-checked='hasSelected($index)', ng-click='toggleSelection($index)')
        td.col-md-9
          .row.super-content-row
            .col-md-4.control-label 标题:
            .col-md-8 {{coupon.title}}
          .row.super-content-row
            .col-md-4.control-label 所属餐厅:
            .col-md-8 {{coupon.restaurant.name}}
          .row.super-content-row
            .col-md-4.control-label 用户沉睡时间:
            .col-md-8 {{coupon.sleep_month}}月
          .row.super-content-row(ng-if='coupon.start_at && coupon.end_at')
            .col-md-4.control-label 有效期:
            .col-md-8 {{coupon.start_at | dateFormat}} 至 {{coupon.end_at | dateFormat}}
          .row.super-content-row(ng-show='coupon.des != ""')
            .col-md-4.control-label 优惠券内容:
            .col-md-8 {{coupon.des}}
          .row.super-content-row(ng-show='coupon.send_status == 1')
            .col-md-4.control-label 已接收用户数量:
            .col-md-8 {{coupon.app_ids.length}}
        td.col-md-2.text-center.super-action
          p(ng-if='coupon.send_status == 0 && selTabIndex == 0')
            a(ng-href='#/toUpdateCoupon/{{coupon._id}}', class='btn btn-primary btn-sm')
              span 编辑优惠劵
          p(ng-if='coupon.send_status == 1 && selTabIndex == 1')
            a(ng-click='delCoupon($index)', class='btn btn-danger btn-sm')
              span 删除优惠劵，请谨慎操作
include include/pagination