include include/csrf
p.form-inline
  input.form-control(type="text", ng-model='app_id', placeholder="接收的用户app_id")
  select.form-control.pull-right(ng-options='restaurant.name for restaurant in wrapRestaurants.restaurants', ng-model='wrapRestaurants.selRestaurant', ng-change='changeRestaurant()')
    option(value='') 全部餐厅

p: ul.nav.nav-tabs
  - var tabs = [['all', '全部'], [0, '未审核'], [1, '审核通过'], [2, '审核未通过']]
  - each tab in tabs
    li(ng-class='{ "active": "#{tab[0]}"==selTabIndex }', role='presentation')
      a(ng-click='selTab(#{tab[0]})', href='javascript:{}') #{tab[1]}
.table-responsive
  table.table.table-striped
    thead
      tr
        th.text-center 音频详情
        th.text-center 操作
    tbody
      tr(ng-repeat='media in wrapData.medias')
        td.col-md-8
          .row.super-content-row
            .col-md-3.control-label 评价餐厅:
            .col-md-9 {{media.restaurant.name}}
          .row.super-content-row
            .col-md-3.control-label 创建时间:
            .col-md-9 {{showTime(media.createdAt)}}
          .row.super-content-row
            .col-md-3.control-label 语音识别:
            .col-md-9
              div(ng-show='!media.isEditRec')
                p(ng-show='media.recognition != ""')
                  span {{media.recognition}}
                p: button.btn.btn-xs.btn-primary(ng-click='showEditMedia($index)') 手工纠正识别内容
                p: button.btn.btn-xs.btn-primary(ng-click='sendVoice($index)') 发送语音
              div(ng-show='media.isEditRec')
                span
                  textarea(row=3, ng-model='media.recognition')
                br
                button.btn.btn-xs.btn-primary(ng-click='updateRec($index)') 确定
                | &nbsp;&nbsp;
                button.btn.btn-xs.btn-default(ng-click='cancelRec($index)') 取消
        td.col-md-4.text-center.super-action
          .admin-links(ng-if='media.checked_status==1')
            p.text-primary 已通过审核
            p: button.btn.btn-danger.btn-sm(ng-click='checkVoice($index, false)') 改为不通过
          .admin-links(ng-if='media.checked_status==2')
            p.text-danger 没有通过审核
            p: button.btn.btn-danger.btn-sm(ng-click='checkVoice($index, true)') 改为通过
            p: button.btn.btn-primary.btn-sm(ng-click='deleteVoice($index)') 删除语音文件
          .admin-links(ng-if='media.checked_status == 0')
            p: button.btn.btn-danger.btn-sm(ng-click='checkVoice($index, true)') 通过
            p: button.btn.btn-danger.btn-sm(ng-click='checkVoice($index, false)') 不通过
include include/pagination