include include/csrf
p
  input(type="text", ng-model='app_id', placeholder="接收的用户app_id")
.table-responsive
  table.table.table-striped
    thead
      tr
        th 收听音频
        th.text-center 操作
    tbody
      tr(ng-repeat='media in wrapData.medias')
        td.col-md-8
          .row
            .col-md-2.control-label 评价餐厅:
            .col-md-10 {{media.restaurant.name}}
          .row
            .col-md-2.control-label 语音识别:
            .col-md-10
              div(ng-show='!media.isEditRec')
                span {{media.recognition}}
                | &nbsp;&nbsp;
                button.btn.btn-xs.btn-primary(ng-click='showEditMedia(media)') 纠正识别内容
              div(ng-show='media.isEditRec')
                span
                  textarea(row=3, ng-model='media.recognition')
                br
                button.btn.btn-xs.btn-primary(ng-click='updateRec($index)') 确定
                | &nbsp;&nbsp;
                button.btn.btn-xs.btn-default(ng-click='cancelRec($index)') 取消
          button.btn.btn-primary(ng-click='sendVoice($index)') 发送语音
        td.col-md-4.text-center
          p.admin-links(ng-if='media.checked_status==1')
            span.text-primary 已通过审核
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-danger.btn-sm(ng-click='checkVoice($index, false)') 改为不通过
          p.admin-links(ng-if='media.checked_status==2')
            span.text-danger 没有通过审核
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-danger.btn-sm(ng-click='checkVoice($index, true)') 改为通过
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary.btn-sm(ng-click='deleteVoice($index)') 删除语音文件
          p(ng-if='media.checked_status == 0')
            button.btn.btn-danger.btn-sm(ng-click='checkVoice($index, true)') 通过
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-danger.btn-sm(ng-click='checkVoice($index, false)') 不通过
  include include/pagination