include include/csrf
p
  input(type="text", ng-model='app_id', placeholder="接收的用户app_id")
.table-responsive
  table.table.table-striped
    thead
      tr
        th 收听音频
        th.text-center 操作
    tbody
      tr(ng-repeat='media in wrapData.medias')
        td.col-md-6
          button.btn.btn-primary(ng-click='sendVoice($index)') 发送语音
        td.col-md-6.text-center
          p(ng-if='media.checked_status == 0')
            a(href='javascript:{}', class='btn btn-danger btn-sm')
              span 审核通过
            a(href='javascript:{}', class='btn btn-danger btn-sm')
              span 审核不通过
  include include/pagination