include include/csrf
.table-responsive
  table.table.table-striped
    thead
      tr
        th 收听音频
        th.text-center 操作
    tbody
      tr(ng-repeat='media in wrapData.medias')
        td.col-md-10
          .input-group
            input.form-control(type="text", ng-model='app_id' placeholder="请输入接受的用户app_id...")
            span.input-group-btn
            button.btn.btn-primary(ng-click='sendVoice($index)') 发送语音
        td.col-md-2.text-center
          .admin-links
          a(href='javascript:{}', class='btn btn-danger btn-sm')
            span 审核通过
  include include/pagination