include include/csrf
.row
  .col-md-12
    .panel.panel-default.super-panel
      .panel-heading 菜单点击数据统计
      table.table.text-center
        thead
          tr
            th.text-center(rowspan=2) 日期
            th.text-center(colspan=4) 老用户点击
            th.text-center(colspan=4) 新用户点击
          tr
            th.text-center 随便看看
            th.text-center 别人文章
            th.text-center 米其林
            th.text-center 机器人
            th.text-center 随便看看
            th.text-center 别人文章
            th.text-center 米其林
            th.text-center 机器人
        tbody
          tr(ng-repeat='event in menuData.events')
            td {{event.day}}
            td {{event.oldCount.MENU_SBKK}}({{event.oldCount.MENU_SBKK_P}})
            td {{event.oldCount.MENU_BRDWZ}}({{event.oldCount.MENU_BRDWZ_P}})
            td {{event.oldCount.MENU_MQL}}({{event.oldCount.MENU_MQL_P}})
            td {{event.oldCount.MENU_HELP}}({{event.oldCount.MENU_HELP_P}})
            td {{event.newCount.MENU_SBKK}}({{event.newCount.MENU_SBKK_P}})
            td {{event.newCount.MENU_BRDWZ}}({{event.newCount.MENU_BRDWZ_P}})
            td {{event.newCount.MENU_MQL}}({{event.newCount.MENU_MQL_P}})
            td {{event.newCount.MENU_HELP}}({{event.newCount.MENU_HELP_P}})

