include include/csrf

style.
  .tui {
    padding: 10px 0;
  }
  .main-tui, .sub-tui {
    padding: 10px;
  }

.panel
  .panel-body
    a.btn.btn-primary.btn-block(ng-href='#/toAddTui') 创建主渠道
    .tui(ng-repeat='tui in wrapData.tuis')
      .bg-danger.main-tui
        .row
          .col-md-9 主渠道：{{tui.name}}
          .col-md-3.text-right
            a(ng-href='#/toAddTui/{{tui._id}}')
              span 增加子渠道
            | &nbsp;&nbsp;
            a(ng-href='#/toUpdateTui/{{tui._id}}')
              span 编辑
      .bg-info.sub-tui(ng-if='tui.children.length', ng-repeat='subTui in tui.children')
        .row
          .col-md-9
            .dish-name 子渠道：{{subTui.name}}
          .col-md-3.text-right
            a(ng-href='#/toUpdateTui/{{subTui._id}}')
              span 编辑
        .row.tui
          .col-md-4
            img(ng-if='subTui.qrcode_ticket != ""',
            ng-src='https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={{subTui.qrcode_ticket}}', width='200')
          .col-md-8
            p
              b 总计总用户数：
              span.text-danger  {{subTui.dayAll}}
            p
              b 最近七天用户数：
              span.text-danger  {{subTui.day7}}
            p
              b 最近一天用户数：
              span.text-danger {{subTui.day1}}