include include/csrf
form.super-form(name='dishForm')
  .form-group
    label
      span.text-danger &nbsp;*&nbsp;
      | 菜品标题
    input.form-control(type='text', ng-model='dish.name', required)
  .form-group
    label 菜品简介
    textarea.form-control(ng-model='dish.des')
  .form-group
    label 菜品吃法
    textarea.form-control(ng-model='dish.eat')

  .row
    .col-md-6
      a.form-control.btn.btn-danger(ng-click='saveOrUpdateDish()', ng-disabled='dishForm.$invalid') 点我保存菜品
    .col-md-6
      a.form-control.btn.btn-warning(ng-href='#/toDishs') 返回菜品列表
