include include/csrf
.table-responsive
  table.table.table-striped
    thead
      tr
        th 详情
        th.text-center 操作
    tbody
      tr(ng-repeat='user in wrapData.users')
        td.col-md-10
          include include/user-wx-detail
        td.col-md-2.text-center
          .admin-links
          a(href='javascript:{}', class='btn btn-danger btn-sm', ng-click='delUser($index, !user.isDel)', ng-hide='user.isAdmin || user.isSuperAdmin')
            span(ng-show='!user.isDel') 删除该用户(逻辑删除，可恢复)
            span(ng-show='user.isDel') 恢复该用户
include include/pagination