include include/csrf
form.super-form(name='orderForm')
  .form-group
    label(for='order-name') 预订人姓名
      span.text-danger *
    input#order-name.form-control(name='name', required, ng-model='order.name')
  .form-group
    label(for='order-tel') 你在国内的手机号
      span.text-danger *
    input#order-tel.form-control(name='tel', required, ng-model='order.tel')
  .form-group
    label(for='order-no') 需要预定几个位置？
      span.text-danger *
    input#order-no.form-control(name='no', required, ng-model='order.no')
  .form-group
    label(for='order-child') 其中有几个小朋友？（12岁以下）
      span.text-danger *
    input#order-child.form-control(value=0, name='child', required, ng-model='order.child')
  .orderGroup(ng-repeat='sub in order.orders')
    .form-group
      .h5 餐厅所在城市
      input.form-control.inline(ng-model='sub.city')
    .form-group
      label 餐厅名字
      input.form-control(name='restaurant', required, ng-model='sub.restaurant')
    .form-group
      label 用餐日期
      input.form-control(ng-model='sub.date')
    .form-group
      label 午餐 or 晚餐
      .form-inline(ng-if='sub.isLunch')
        label 午餐：
        input.form-control(ng-model='sub.lunch')
      .form-inline(ng-if='sub.isDinner')
        label 晚餐：
        input.form-control(ng-model='sub.dinner')
    .form-group
      .h5 用户期望的具体时间 or 最终预定的时间(例如：18：00)
      input.form-control(ng-model='sub.time')
  .form-group
    label(for='order-advice') 想多嘱咐我们几句或有改进建议请写在这里后提交！
    textarea#order-advice.form-control(rows=6, name='advice', ng-model='order.advice')
  .form-group
    label(for='order-other') 管理员备注
    textarea#order-advice.form-control(rows=6, name='other', ng-model='order.other')

  .row
    .col-md-6
      a.form-control.btn.btn-danger(ng-click='update()', ng-disabled='seasonForm.$invalid') 点我保存预定
    .col-md-6
      a.form-control.btn.btn-warning(ng-href='#/toOrders') 返回预定列表
